@tailwind base;
@tailwind components;
@tailwind utilities;

.nx-bg-primary-50 {
  background-color: hsl(0 0% 98%) !important;
}

.nx-bg-primary-100 {
  background-color: hsl(0 0% 94%) !important;
}

:is(html[class~=dark] .dark\:hover\:nx-bg-primary-100\/5:hover) {
  background-color: hsl(0 0% 94%/.05) !important;
}
:is(html[class~=dark] .dark\:nx-border-primary-100\/10) {
  border-color: rgba(229, 231, 235, 0.1) !important;
}

:is(html[class~=dark] .dark\:nx-bg-primary-300\/10) {
  background-color: rgba(130, 130, 130, 0.1) !important;
}

:is(html[class~=dark] .dark\:nx-bg-primary-400\/10) {
  background-color: rgba(130, 130, 130, 0.1) !important;
}

:is(html[class~=dark] .dark\:nx-bg-primary-500\/10),
.nx-bg-primary-500\/10 {
  background-color: hsl(0 0% 50%/.1) !important;
}

.nx-text-primary-600 {
  color: black !important;
}

:is(html[class~=dark] .nx-text-primary-600),
:is(html[class~=dark] .dark\:nx-text-primary-600) {
  color: white !important;
}

.nx-bg-primary-700\/5 {
  background-color: hsl(0 0% 32%/.05) !important;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  --tw-ring-color: hsl(0 0% 80%/var(--tw-ring-opacity))  !important;
  --tw-ring-offset-color: hsl(0 0% 80%)  !important;
}

:is(html[class~=dark] a:focus-visible),
:is(html[class~=dark] button:focus-visible),
:is(html[class~=dark] input:focus-visible),
:is(html[class~=dark] [tabindex]:not([tabindex="-1"]):focus-visible) {
  --tw-ring-color: hsl(0 0% 32%/var(--tw-ring-opacity))  !important;
  --tw-ring-offset-color: hsl(0 0% 39%)  !important;
}

summary:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset)0 0 0 var(--tw-ring-offset-width) hsl(0 0% 32%/var(--tw-ring-opacity)) !important;
  --tw-ring-shadow: var(--tw-ring-inset)0 0 0 calc(2px + var(--tw-ring-offset-width)) hsl(0 0% 32%/var(--tw-ring-opacity)) !important;
}

.nx-text-primary-800{
  color: hsl(0 0% 32%) !important;
}

.nx-border-primary-500 {
  border-color: hsl(0 0% 50%) !important;
}

code .line.highlighted {
  color: white  !important;
  background-color: rgba(130, 130, 130, 0.1)  !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 0 0% 17%;
    --input: 216 34% 17%;
 
    --card: 0 0% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}